html,
body{
    min-height: 100vh;
    background-image: url(../img/diseño.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
}
.table{
    background-color:transparent
    

}
