html,
body{
  background-image: url(../img/learning-concept.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
nav{
    background-color: transparent;
    
}
.navbar-brand , .nav-link{
    color: black
}
.texto{
  
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-90%) translateY(-120%);
  
}
h1{
  font-size: 50px;
  margin-bottom: 30px;
}
p{
  font-size: 20px;
}